@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap");
* {
  /* font-family: "Kanit", sans-serif; */
  /* font-family: "Lugrasimo", cursive; */
}

#ulnav {
  list-style-type: none;
  overflow: hidden;
}

/* li a {
  padding: 5px;
  margin: 20px 20px;
} */
#mainpage {
  margin-top: 60px;
}
/* li a:hover {
  color: rgb(151, 209, 226);
} */
#mainpic {
  padding-top: 50px;
  margin: auto;
}

h2 {
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#box,
#detail {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #dcd8d8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#detail {
  margin-top: 40px;
}
#content {
  width: 1400px;
}
